@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@900&family=Unbounded:wght@300");



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: 'Dancing Script', cursive;
  font-family: 'Unbounded', cursive;
  font-family: 'Roboto', sans-serif;
}


